
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/prescribed_gradients.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/mask_fill.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/mask.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/im_max.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/B0map_tgv_mask.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/B0map_tgv.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/B0map_mask.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/B0map_fit_mask.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/B0map_fit.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/B0map_fill.tif
figure2/20201102_NV_brain/se_spiral_1102_sag_s24_osf2_B0correction1/B0map.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/slice9_MaxGIRF_B0map_tgv_mask.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/SE_vs_king_vs_maxgirf_whole.gif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/nufft_slice9.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/maxgirf_lowrank_slice9.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/maxgirf_cpr_slice9.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/mask_fill.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/mask.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/king_vs_maxgirf4.gif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/king_vs_maxgirf3.gif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/king_vs_maxgirf2.gif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/king_vs_maxgirf.gif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/king_slice9.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/im_nufft_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/im_maxgirf_lowrank_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/im_maxgirf_lowrank_slice9.jpg
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/im_maxgirf_cpr_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/im_max.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/im_king_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/im_cartesian_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/cartesian_vs_king_vs_MaxGIRF_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_tgv_mask.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_tgv.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_slice6_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_slice6_with_colorbar.jpg
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_slice6_bbg.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_slice6.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_slice6.jpg
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_mask.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_fit_mask.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_fit.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map_fill.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1_figure/B0map.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice9.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice8.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice7.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice6.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice5.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice4.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice3.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice2.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice11.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice10.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/nufft_slice1.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice9.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice8.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice7.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice6.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice5.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice4.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice3.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice2.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice11.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice10.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_lowrank_slice1.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice9.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice8.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice7.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice6.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice5.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice4.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice3.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice2.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice11.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice10.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/maxgirf_cpr_slice1.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/mask_fill.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/mask.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice9.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice8.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice7.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice6.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice5.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice4.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice3.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice2.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice11.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice10.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/king_slice1.mat
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice8.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice7.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice6.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice5.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice4.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice3.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice2.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice11.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice10.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_nufft_slice1.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice8.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice7.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice6.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice5.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice4.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice3.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice2.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice11.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice10.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_lowrank_slice1.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice8.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice7.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice6.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice5.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice4.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice3.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice2.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice11.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice10.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_maxgirf_cpr_slice1.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_max.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice8.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice7.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice6.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice5.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice4.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice3.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice2.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice11.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice10.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_king_slice1.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice8.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice7.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice6.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice5.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice4.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice3.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice2.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice11.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice10.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/im_cartesian_slice1.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice9_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice9.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice8_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice8.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice7_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice7.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice6_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice6.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice5_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice5.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice4_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice4.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice3_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice3.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice2_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice2.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice1_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice11_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice11.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice10_with_colorbar.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice10.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_slice1.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_mask.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_fit_mask.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_fit.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map_fill.tif
figure2/20201102_NV_brain/se_spiral_1102_ax_s24_osf1_B0correction1/B0map.tif
figure1/demo_MaxGIRF_NIST_phantom.m
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/nufft_slice10.mat
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/maxgirf_lowrank_slice10.mat
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/maxgirf_cpr_slice10.mat
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/maxgirf3_slice10.mat
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/maxgirf2_slice10.mat
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/maxgirf1_slice10.mat
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/mask_fill.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/mask.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/king_slice10.mat
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/im_nufft_slice10.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/im_maxgirf_lowrank_slice10.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/im_maxgirf_cpr_slice10.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/im_maxgirf310.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/im_maxgirf210.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/im_maxgirf110.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/im_max.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/im_king_slice10.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/im_cartesian_slice10.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/B0map_tgv_mask.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/B0map_tgv.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/B0map_slice10_with_colorbar.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/B0map_slice10.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/B0map_mask.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/B0map_fit_mask.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/B0map_fit.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/B0map_fill.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/B0map.tif
figure1/20200506_NIST_phantom_shift/ax_75mm_spiral_gmax24_osf1_B0correction1/all_reconstruction.tif
